<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="/plugins/bootstarp/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/plugins/finfosoft/finfosoft.css" />
		<link rel="stylesheet" type="text/css" href="/css/alarm_entity.css"/>
		<style>
			[v-cloak] {
			  	display: none;
			}
		</style>
	</head>
	<body>
		<input type="text" id="thingId" hidden="hidden" value=${thingId} />
		<input type="text" id="companyId" hidden="hidden" value=${companyId} />
		<div class="oVue" v-cloak>
			<div class="alarmEntity">
				<div class="alarmTop">
						<span>实体列表</span>
						<span>/&nbsp;当前位置:&nbsp;</span>
						<span><a href="/thing" style="font-size:14px;" class="thingName">${thingName}</a></span>
						<span style="font-size:14px;"> > 告警设置</span>
						<span class="search">
							<input type="text" v-model="likeData" placeholder="请输入关键字查找" id="searchId" @keyup.enter="likeSearch"/>
							<i class="fa fa-search" @click="likeSearch"></i>
						</span>	 
						<hr>
				</div>
				<div class="IContent">
					<div class="configurAble">
						<p class="title">可配置告警范围</p>
						<div class="alarmList" v-for="(alarmData,index) in alarmDatas" v-if="alarmData.port_type=='AI'||alarmData.port_type=='DI'||alarmData.port_type=='CD'" :id="alarmData.data_id"  v-bind:class="alarmData.status == 1 ? 'greenBg' : alarmData.status == 0 ? 'grayBg':'redBg' ">
							<div class="alarmTop" v-text="alarmData.title"></div>
								<div class="alarmContent">
									<p>
										<span class="dataValue" style="margin-right:10px;" v-text="(alarmData.data_value=='-' ? '':alarmData.data_value)"></span>
										<span class="dataUnit"  v-text="(alarmData.data_unit == '-' ? '' :alarmData.data_unit)"></span>
										<span class="fa fa-tags"  data-toggle='tooltip' data-placement='top' data-title='标签' @click="showLayer(index)"  @mouseenter="tooltips($event)"></span>
									</p>				
									<span class="dataTime" v-text="(alarmData.data_time==''? '-':alarmData.data_time)"></span>
								<label class="dataLable" v-text="(alarmData.tag_name==undefined? '未配置':alarmData.tag_name)"></label>
								</div>
								<div class="alarmFooter">
									<ul>
										<li v-for="(alarmData,oindex) in alarmData.threshold" v-if="alarmData.lower_value=='-'||alarmData.upper_value=='-'">
											<div class="dataLeft" >
												未配置
											</div>
											<div class="dataRight">
												<i class="fa fa-plus-square-o " data-toggle='tooltip'  data-placement='top' data-title='添加' @click="alarmRangeLayer(index,$event,oindex,'添加')" @mouseenter="tooltips($event)"></i>
											</div>
										</li>
										<li v-else>
											<div class="dataLeft">
												<span  v-text="alarmData.lower_value" ></span>
												~
												<span  v-text="alarmData.upper_value" ></span>
											</div>
											<div class="dataRight" >
												<i class="fa fa-plus-square-o " data-toggle='tooltip'  data-placement='top' data-title='添加' hidden="hidden" @mouseenter="tooltips($event)"></i>
												<i class="fa fa-cog " data-toggle='tooltip' data-placement='top' data-title='修改' @click="alarmRangeLayer(index,$event,oindex,'修改')" @mouseenter="tooltips($event)"></i>
												<i class="fa fa-trash" data-toggle='tooltip' data-placement='top' data-title='删除' @click="deleteAlarmData(index,$event,oindex)"  @mouseenter="tooltips($event)"></i>
											</div>
										</li>
										
									</ul>
								</div>
						</div>
					</div>
					<div class="unconfigurAble">
						<p class="title">不可配置告警范围</p>
						<div class="alarmList" v-for="(alarmData,index) in alarmDatas" v-if="alarmData.port_type=='AO'||alarmData.port_type=='DO'||alarmData.port_type=='MO'" v-bind:class="alarmData.status == 1 ? 'greenBg' : alarmData.status == 0 ? 'grayBg':'redBg' ">
							<div class="alarmTop" v-text="alarmData.title"></div>
							<div class="alarmContent">
								<p>
									<span class="dataValue" style="margin-right:10px;" v-if="alarmData.data_value==0" v-text="alarmData.low_battery"></span>
									<span class="dataValue" style="margin-right:10px;" v-if="alarmData.data_value==1" v-text="alarmData.high_battery"></span>
									<span class="dataValue" style="margin-right:10px;" v-if="alarmData.data_value!=0&&alarmData.data_value!=1" v-text="(alarmData.data_value=='-' ? '':alarmData.data_value)"></span>
									<span class="dataUnit" v-text="(alarmData.data_unit=='-' ? '':alarmData.data_unit)"></span>
									<span class="fa fa-tags" data-toggle="tooltip" data-placement="top" thingDataId="initData.thingDataId" title="标签" @click="showLayer(index)"  @mouseenter="tooltips($event)"></span>
								</p>
								<span class="dataTime" v-text="(alarmData.data_time==''? '-':alarmData.data_time)"></span>
								<label class="dataLable" v-text="(alarmData.tag_name==undefined? '未配置':alarmData.tag_name)"></label>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="confirmInfo" hidden="hidden">
				<div class="fix">
					<input type="text" placeholder="请输入关键字查找" id="searchData" v-model="likeSearchData" @keyup.enter="searchLable()"/>
					<i class="fa fa-search" onclick="searchLable()"></i>
					<p><span @click="addTag">添加新分组标签</span></p>	
				</div>
				<ul class="selectedUl">
					<li @click="chioseTag(index,$event)" v-for="(tag,index) in selsetTags" :tagId="tag._id">{{tag.tag_name}} <span @click="removeTag(index,$event)" class="fa fa-trash  removeTag"></span></dd>
				</ul>	
			</div>
			<div class="alarmRange" hidden="hidden">
				<input type="text" placeholder="请输入最小值" id="dataMin" v-model="dataMin"/>
				~
				<input type="text" placeholder="请输入最大值" id="dataMax" v-model="dataMax"/>
				<div class="saveBtn">
					<span class="alarmBtn" @click="alarmRangeSave">保存</span>
				</div>
			</div>
		</div>
	</body>
	<script src="/plugins/jQuery/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/plugins/bootstarp/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/plugins/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/plugins/vue/dist/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/public_resources.js" type="text/javascript" charset="utf-8"></script>
	<script src="/plugins/layer/layer.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
	<script src="/plugins/finfosoft/finfosoft.js"></script>
	<script src="/js/alarm_entity.js?1.09" type="text/javascript" charset="utf-8"></script>
</html>
