<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/plugins/bootstarp/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/manual_data.css?1.00" />
	</head>

	<body>
		<div>
			<input type="text" id="companyId" hidden="hidden" value="${companyId}"/>
			<input type="text" id="companyCode" hidden="hidden" value="${companyCode}"/>
			<input type="text" id="deviceId" hidden="hidden" value="${deviceId}"/>
		</div>
		<div id="vue">
			<div class="boxAccess">
				<div class="boxHeader">
					<span>人工录入数据</span>
					<span>/</span>
					<span>当前位置：</span>
					<span>人工录入数据</span>	
				</div>
				<!--主要内容部分-->
				<div class="dataInfo">
					<div class="boxContent clearfix">
						<div class="equipment">
							<i class="fa fa-book"></i>&nbsp;设备信息
						</div>
						<div class="dataCircle">
							<label for="device_code">分组编号</label>
							<input v-model="manualData.device_code" type="text" id="device_code" class="textInput" placeholder="请输入分组编号"/>
						</div>
						<div class="dataCircle">
							<label for="device_name">分组名称</label>
							<input v-model="manualData.device_name" id="device_name" type="text" class="textInput" placeholder="请输入分组名称"/>
						</div>
					</div>
					<div class="boxContent clearfix">
						<div class="equipment">
							<i class="fa fa-wrench"></i>&nbsp;数据配置
							<a class="btnYellow addPort">
								<i class="fa fa-plus"></i>
								<div class="tip">
									添加数据
									<em class="tip-arrow"></em>
								</div>
							</a>
						</div>
						<div class="detialData" >
							<div v-for="(dataConfig,index) in dataConfigs" class="dataModel">
								<div class="dataCircle">
									<label>数据名称</label>
									<input type="text" v-model="dataConfig.data_name"  class="textInput" placeholder="请输入数据名称"/>
								</div>
								<div class="dataCircle">
									<label>数据单位</label>
									<input type="text" v-model="dataConfig.data_unit" isCheck="false" class="textInput" placeholder="请输入数据单位"/>
								</div>
								<div class="dataCircle">
									<label>分组标签</label>
									<input @focus="showTags(index,$event)" :tag_id="dataConfig.tag_id" type="text" v-model="dataConfig.tag_name"  class="textInput" placeholder="请选择分组标签"/>
								</div>
								<div class="dataCircle">
									<label>初始值</label>
									<input num-limit="limit" type="text" v-model.number="dataConfig.data_value" isCheck="false" class="textInput" placeholder="请输入初始值"/>
									<span @click='deleteData(index,$event)' class="fa fa-times-circle deleteData" data-toggle="tooltip" data-placement="top" title="删除"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="saveSettings">
						<button id="main-submit">保存设置</button>
					</div>
				</div>
			</div>
			
			<dl class="tagList" hidden="hidden">
				<dt @click="addTag">添加新分组标签</dt>
				<dd @click="chioseTag(index)" v-for="(tag,index) in tags" :tagId="tag._id">{{tag.tag_name}} <span @click="removeTag(index,$event)" class="fa fa-trash  removeTag"></span></dd>
			</dl>
		</div>
		<script src="/plugins/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/plugins/jQuery/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/plugins/bootstarp/js/bootstrap.min.js" ></script>
		<script src="/plugins/layer/layer.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/public_resources.js?1.0"></script>
		<script src="/js/manual_data.js?1.05" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
