<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/plugins/bootstarp/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/plugins/finfosoft/finfosoft.css" />
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="/css/task.css" />
		<style>
			[v-cloak] {
			  	display: none;
			}
		</style>
	</head>
	<body>
		<input type="text" id="companyId" value="${companyId}" hidden="hidden"/>
		<div id="task" v-cloak>
			<div class="taskTop">
				<span>任务管理</span>
				<span>/</span>
				<span>当前位置：</span>	
				<span>工艺列表</span>
				<el-tooltip class="item" effect="dark" content="新增工艺" placement="bottom-start">
					<button class="addTask" @click="addProcess">新增工艺</button>
				</el-tooltip>
			</div>
			<hr>
			
			<!-----------------------------工艺列表----------------------------------->
			<div class="taskContent">
				<div v-for = "(process,index) in processList" class="processBox" >
					<div @click="getMission(index,$event)">
						<div class="processName" v-text="process.process_name">
						</div>
						<div v-if="process.trigger_name=='人工触发'" class="processtTigger">
							{{process.trigger_name}}
						</div>
						<div v-if="process.trigger_name=='事件触发' || process.trigger_name=='异常处理'" class="processtTigger noPadding" >
							<dl>
								<span class="shrinkConditions fa fa-caret-down"></span>
								<dd v-for = "conditions in process.trigger_conditions">
									<span class="conditions" @click="shrinkConditions(index,$event)" style="height: 100%;">{{conditions.thing_name}}:{{conditions.data_name}} {{conditions.compare_oper_str}} {{conditions.compare_data_name}}</span>
								</dd>
							</dl>
						</div>
						<div v-if="process.trigger_name=='时间周期触发'" class="processtTigger">
							{{process.trigger_name}}：开始时间  {{process.trigger_conditions[0].begin_time}} 时间间隔  {{process.trigger_conditions[0].cycle_time}}分钟
						</div>
						<div v-if="process.trigger_name=='定时触发'" class="processtTigger">
							{{process.trigger_name}}：开始时间  {{process.trigger_conditions[0].start_time}} 触发周期  {{process.trigger_conditions[0].cycle_str}}
						</div>
						<div class="processTimes">
							执行：{{process.action_times}}次
						</div>
						<div class="processTools">
							<el-tooltip class="item" effect="dark" content="添加任务" placement="top">
								<span class="fa fa-plus-square-o" @click="addMission(index,$event)"></span>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" content="修改工艺" placement="top">
								<span class="fa fa-edit" @click="editProcess(index,$event)"></span>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" content="删除工艺" placement="top">
								<span class="fa fa-trash-o" @click="deleteProcess(index,$event)"></span>
							</el-tooltip>
							<el-tooltip class="item" effect="dark" content="调整任务顺序" placement="top">
								<span class="fa fa-exchange" @click="updateIndex(index,$event)"></span>
							</el-tooltip>
						</div>
					</div>
					
					<!--------------------------任务列表--------------------------------->
					<div class="missionBox">
						<div class="mission" v-for="(mission,index) in missionList" @mousedown="dragStart(index,$event)">
							<div class="missionName" v-text="mission.mission_name">
							</div>
							<div class="missionAction" v-if="mission.action_str">
								{{mission.target_thing_name}}:{{mission.target_data_name}}--{{mission.action_str}}
							</div>
							<div v-else class="missionAction">
								{{mission.target_thing_name}}:{{mission.target_data_name}}--{{mission.action}}
							</div>
							<div class="waitingTime">
								等待{{mission.wait_time}}秒
							</div>
							<div class="missionTools">
								<el-tooltip class="item" effect="dark" content="修改任务" placement="top">
									<span class="fa fa-edit" @click="editMission(index)"></span>
								</el-tooltip>
								<el-tooltip class="item" effect="dark" content="删除任务" placement="top">
									<span class="fa fa-trash-o" @click="deleteMission(index)"></span>
								</el-tooltip>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--------------------描述：工艺配置弹窗------------------->
            <div class="addProcess" hidden="hidden">
            	<div id="thingList" class="analogUl"></div>
            	<!--<div id="targetThingList" class="analogUl"></div>-->
            	<div class="dataCircle">
            		<label>工艺名称</label>
            		<input v-model="process.process_name" placeholder="请输入工艺名称" tipMsg="请输入工艺名称" class="must"/>
            	</div>
            	<div class="dataCircle">
            		<label>触发类型</label>
            		<select v-model="process.trigger_type" @change="getTriggerName">
            			<option v-for="(triggerType,index) in triggerTypeList" :value = "triggerType._id">{{triggerType.trigger_name}}</option>
            		</select>
            	</div>
            	<div class="dataCircle">
            		<label>异常短信</label>
            		<span class="controlBtn" @click="remindBtn($event)">
						<span  value="1">开启</span>
						<span class="greenBtn"  value="0">关闭</span>
					</span>
            	</div>
            	<div class="dataCircle" v-if ="selectTriggerName == '事件触发'">
            		<label>条件关系</label>
            		<select v-model="process.is_or">
            			<option value="0">与</option>
						<option value="1">或</option>
            		</select>
            	</div>
            	<div class="dataCircle" v-if ="selectTriggerName == '异常处理'">
            		<label>关联工艺</label>
            		<input placeholder="请输入关联工艺名称" tipMsg="请输入工艺名称" v-model="targetProcessName" @keyup="getTargetProcess($event)" class="must"/>
            	</div>
            	<hr>
            	<span v-if = "selectTriggerName != '人工触发' || selectTriggerName != '异常处理'" class="triggerText">触发条件</span>
				<button v-if ="selectTriggerName == '事件触发'" class="addConditionBtn" @click="addCondition">添加触发条件</button>
				<!-----------------------事件触发的触发条件 start----------------------------->
				<div v-for="(conditions,index) in trigger_conditions" v-if ="selectTriggerName == '事件触发'">
					<div v-if="index!=0">
						<hr>
						<span class="closeBox" data-toggle="tooltip" data-placement="top" title="删除" @click="deleteCondition(index)">x</span>
					</div>
					<div class="dataCircle">
						<label>实体名称</label>
						<input keyName="thing_name" placeholder="请输入实体名称" @keyup="searchThing(index,$event)" v-model="conditions.thing_name" class="must" tipMsg="请输入实体名称"/>
					</div>
					<div class="dataCircle">
						<label>采集端口</label>
						<select keyName="dataList" v-model.number="conditions.data_id" class="must" placeholder="请选择采集器端口" tipMsg="请选择采集器端口">
							<option v-for="(data,index) in conditions.dataList" :value="data.data_id"> {{data.data_name}}</option>
						</select>
					</div>
					<div class="dataCircle">
						<label>比较符</label>
						<select v-model="conditions.compare_oper">
							<option v-for="(oper,key) in comparison" :value = "key">{{oper}}</option>
						</select>
					</div>
					<div class="dataCircle"></div>
					<div class="dataCircle">
						<label>实体名称</label>
						<input keyName="compare_thing_name" placeholder="请输入实体名称" v-model="conditions.compare_thing_name" @keyup="searchThing(index,$event)" class="must" tipMsg="请输入实体名称"/>
					</div>
					<div class="dataCircle">
							<label>采集端口</label>
							<select keyName="compareDataList" v-model.number="conditions.compare_data_id" class="must" tipMsg="请选择采集器端口">
								<option v-for="(data,index) in conditions.compareDataList" :value="data.data_id"> {{data.data_name}}</option>
							</select>
					</div>
				</div>
				<!-----------------------事件触发的触发条件 end----------------------------->
				
				<!-----------------------定时触发的触发条件 start----------------------------->
				<div v-if ="selectTriggerName == '定时触发'">
					<div class="dataCircle">
						<label>触发周期</label>
						<select v-model="timing.cycle">
							<option v-for="(cycle,key) in cycles" :value="key">{{cycle}}</option>
						</select>
					</div>
					<div class="dataCircle" v-if="timing.cycle == 'everyWeek'">
						<label>选择星期</label>
						<select v-model="timing.cycle_week">
							<option v-for="(week,index) in weekList" :value="index">{{week}}</option>
						</select>
					</div>
					<div class="dataCircle timeBox">
						<label>开始时间</label>
						<el-input-number controls-position="right" v-model="timing.start_time.hour" :min="0" :max="23" label="时/24小时制" ></el-input-number>
						<span>:</span>
						<el-input-number controls-position="right" v-model="timing.start_time.minute" :min="0" :max="59" label="分钟"></el-input-number>
					</div>
				</div>
				<!-----------------------定时触发的触发条件 end----------------------------->
				
				<!--------------------时间周期触发的触发条件 start--------------------------->
				<div v-if ="selectTriggerName == '时间周期触发'">
					<div class="dataCircle">
						<label>开始时间</label>
						<el-date-picker 
							v-model="cycle.start_time" 
							type="datetime" 
							value-format="yyyy-MM-dd HH:mm"
							tipMsg="请选择开始时间" class="must">
					    </el-date-picker>
					</div>
					<div class="dataCircle">
						<label>时间间隔</label>
						<el-input-number controls-position="right" v-model.number="cycle.cycle_time" :min="0" label="分钟">
						</el-input-number>
					</div>
				</div>
				<!---------------------时间周期触发的触发条件 end-------------------------->
				<div class="dataRow">
					<label>执行次数</label>
					<input v-model.number="process.action_times" class="must" tipMsg="请输入执行次数"  placeholder="请输入执行次数"/>
				</div>
				<div class="dataRow">
					<button class="saveProcessBtn btn btn-block" @click="correctProcessData">保存工艺</button>
				</div>
            </div>
            
            <!------------------------------任务配置窗口--------------------------------->
            <div class="addMission" hidden="hidden">
            	<div id="controlThingList" class="analogUl"></div>
            	<div class="dataRow">
            		<label>任务名称</label>
            		<input placeholder="输入任务名称" v-model="mission.mission_name"  class="must" tipMsg="请输入任务名称"/>
            	</div>
            	<hr>
            	<div class="dataCircle">
        			<label>实体名称</label>
        			<input placeholder="输入实体名称" keyName="target_thing_name" v-model="missionThingName" @keyup="searchThing(null,$event)" class="must" tipMsg="请输入实体名称"/>
            	</div>
            	<div class="dataCircle">
            		<label>控制端口</label>
            		<select keyName="targetDataList" v-model="mission.target_data_id" @change="chioceTargetData" class="must" tipMsg="请选择控制端口">
            			<option v-for="(data,index) in controlDataList" :value="data.data_id">{{data.data_name}}</option>
            		</select>
            	</div>
            	<div class="dataCircle">
            		<label>执行动作</label>
            		<select v-if="controlData.port_type == 'DO'" v-model.number="mission.action">
            			<option value=0>{{controlData.low_battery}}</option>
            			<option value=1>{{controlData.high_battery}}</option>
            		</select>
            		<el-input-number v-if="controlData.port_type != 'DO'" controls-position="right" v-model.number="mission.action" :min="0" :max="100"></el-input-number>
            	</div>
            	<div class="dataCircle">
            		<label>等待时间</label>
            		<el-input type="number" :min="0" v-model.number="mission.wait_time">
            			<template slot="append">秒</template>
            		</el-input>
            	</div>
            	<hr />
            	<div class="dataRow">
					<button class="saveMissionBtn btn btn-block" @click="correctMissionData">保存任务</button>
				</div>
            </div>
		</div>
		
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
		<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script type="text/javascript" src="/plugins/jQuery/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/plugins/bootstarp/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/plugins/layer/layer.min.js"></script>
		<script type="text/javascript" src="/js/public_resources.js" ></script>
		<script src="/plugins/finfosoft/finfosoft.js"></script>
		<script src="/js/task.js"></script>
	</body>
</html>
