html{
	background:#f3f3f4 !important;
	height: 100% !important;
}
body{
	height: 100% !important;
	font-family: microsoft yahei !important;
}
.alarmBox{	
	width:100%;
	height: 100%;
	background:#f3f3f4;
	float:left;
	position: relative;	
	/*min-width:1366px;*/
	overflow-y: hidden;
	overflow-x: hidden;
}
.alarmBox hr{
	margin:0 20px;
	width:calc(100% - 40px);
	height:4px;
	background:#e0e0e0;
	border:0;
	display: inline-block;
}
/*账户top区域*/
.alarmBox .alarmTop{
	width:100%;
	height:65px;
	
}
.alarmBox .alarmTop span{
	font-size:22px;
	padding-top:25px;
	display: inline-block;
}
.alarmBox .alarmTop span:nth-child(1){	
	margin-left:20px;
	color:#5d5d5d;	
}
.alarmBox .alarmTop span:nth-child(2){
	margin-left:5px;
	margin-right:5px;
}
.alarmBox .alarmTop span:nth-child(3){
	font-size:16px;
	color:#000;	
}
.alarmBox .alarmTop span:nth-child(4){
	font-size:16px;
	color:#1ab394;	
}
.alarmContent{
	background: #ffffff;
	height: calc(100% - 110px);
	margin:10px 20px 20px 20px;
	padding:20px;
	overflow: auto;
	position: relative;
}
.untreated,.already{
	cursor: pointer;
}
.untreated{
	color: #F17675;
}
.already{
	color: #A6A6A6;
}
tr{
    height: 50px;
}
.tooltip-inner{
	max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #1AB394 !important;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow{
	bottom: 0;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #1AB394 !important;
}
.alarmInfo{
	padding:20px;
}
.resultInfo{
	width: 100%;
	height: 150px;
	resize:none;
}
.btnRow{
	margin-top: 20px;
}
.btnCol{
	text-align: center;
}
.saveBtn,.cancelBtn{
	width: 100px;
	margin-top: 20px;
	display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42855632;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.saveBtn{
    color: #ffffff;
    background-color: #1AB394;
}
.saveBtn:hover{
	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}
.cancelBtn{
    color: #1AB394;
    background-color: #ffffff;
    border-color: #1AB394;
}
.cancelBtn:hover{
	filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
	-moz-opacity:0.7; /*Firefox私有，透明度50%*/
	opacity:0.7;/*其他，透明度50%*/
}
textarea:disabled{
    background-color: #EEEEEE;
}
textarea,input{
	border-color: #D2D2D2;
}
.layui-layer{
    box-shadow: 8px 8px rgba(0,0,0,.5) !important;
}
