html{
	background:#f3f3f4 !important;
	}
.alarmEntity{
	width:100%;		
	background:#f3f3f4;
	float:left;
	position: relative;	
}
/*账户top区域*/
.alarmEntity .alarmTop{
	
	height:65px;
	margin-right:20px;	
}
.alarmEntity .alarmTop span{
	font-size:22px;
	padding-top:25px;
	display: inline-block;
}
.alarmEntity .alarmTop span:nth-child(1){	
	margin-left:20px;
	color:#5d5d5d;	
}
.alarmEntity .alarmTop span:nth-child(2){
	margin-left:5px;
	margin-right:5px;
}
.alarmEntity .alarmTop span:nth-child(3){
	color:#1ab394;
		
}
.alarmEntity hr{
	width:98%;
	margin-left:20px;
	height:4px;
	background:#e0e0e0;
	border:0;
	display: inline-block;
}

.alarmEntity .alarmTop .search{
	border:1px solid #c1c1c1;
	background:#fff;
	border-radius: 5px 5px;
	width:360px;
	padding:0;
	height:36px;
	font-size:14px;
	float:right;
	margin-right:20px;
	margin-top:30px;
}
.alarmEntity .alarmTop .search input:nth-child(1){
	color:#1AB394;
	width:321px;
	padding-left:12px;
	height:36px;
	border-radius: 5px 5px;
}
.alarmEntity .alarmTop .search i:nth-child(2){
	color:#1AB394;
	line-height:36px;
	font-size:14px;
	cursor: pointer;
}



