html{
	background:#f3f3f4 !important;
	}
.alarmEntity{
	width:100%;		
	background:#f3f3f4;
	float:left;
	position: relative;	
}
/*账户top区域*/
.alarmEntity .alarmTop{
	
	height:65px;
	margin-right:20px;	
}
.alarmEntity .alarmTop span{
	
	padding-top:25px;
	display: inline-block;
	float:left;
}
.alarmEntity .alarmTop span:nth-child(1){	
	margin-left:20px;
	color:#5d5d5d;	
	font-size:22px;
}
.alarmEntity .alarmTop span:nth-child(2){
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
}
.alarmEntity .alarmTop span:nth-child(3){
	
	margin-top:10px;	
}
.alarmEntity .alarmTop span:nth-child(3) a{
	color:#5d5d5d;
}
.alarmEntity .alarmTop span:nth-child(4){
	color:#1ab394;
	margin-top:10px;	
}
.alarmEntity hr{
	width:98%;
	margin-left:20px;
	height:4px;
	background:#e0e0e0;
	border:0;
	display: inline-block;
	float:left;
}

.alarmEntity .alarmTop .search{
	border:1px solid #c1c1c1;
	background:#fff;
	border-radius: 5px 5px;
	width:360px;
	padding:0;
	height:36px;
	font-size:14px;
	float:right;
	margin-right:20px;
	margin-top:30px;
}
.alarmEntity .alarmTop .search input:nth-child(1){
	color:#1AB394;
	width:321px;
	padding-left:12px;
	height:36px;
	border-radius: 5px 5px;
}
.alarmEntity .alarmTop .search i:nth-child(2){
	color:#1AB394;
	line-height:36px;
	font-size:14px;
	cursor: pointer;
}
.alarmList{
	width:250px;
	height:240px;	
	margin-left:20px;
	margin-top:15px;
	float:left;
	border-radius: 5px 5px;
	padding-left:17px;
	padding-right:17px;
}
.IContent .greenBg{
	background:#1AB394;
	color:#fff;
}
.IContent .greenBg .alarmContent{
	border-top:1px solid #5dc9b2;
}
.IContent .greenBg .alarmFooter li{
	border-top:1px solid #5dc9b2;
	
}
.IContent .grayBg{
	background:#9a9a9a;
	color:#fff;
}
.IContent .grayBg .alarmContent{
	border-top:1px solid #eee;

}
.IContent .grayBg .alarmContent .dataTime{
		color:#fff;
}
.IContent .grayBg .alarmContent .dataLable{
	color:#fff;
}
.IContent .grayBg .alarmFooter li{
	border-top:1px solid #eee;
	
}
.IContent .redBg{
	background:#f27779;
	color:#fff;
}
.IContent .redBg .alarmContent{
	border-top:1px solid #eee;
	color:#fff;
}
.IContent .redBg .alarmContent .dataTime{
	color:#fff;
}
.IContent .redBg .alarmFooter li{
	border-top:1px solid #eee;	
}
.alarmList .alarmTop{
	width:100%;
	height:44px;
	line-height:44px;
	
}
.alarmList .alarmContent{
	width:100%;
	height:114px;
	padding-top:11px;
	text-align:center;	
}
.alarmList .alarmContent .dataValue,.alarmList .alarmContent .dataUnit{
	font-size:26px;
	height:30px;
	
}

.alarmList .alarmContent .dataTime,.alarmList .alarmContent .dataLable{
	color:#78cbb7;
	display: block;
	width:100%;
	text-align: center;
}

.alarmFooter{
	width:100%;	
}
.alarmFooter ul{
	width:100%;
	float:left;
}
.alarmFooter li{
	float:left;
	width:100%;
	line-height:39px;
	padding-left:5px;
}
.alarmFooter li .dataLeft{
	float:left;
}
.alarmFooter li .dataLeft span{
	overflow: hidden;
}
.alarmFooter li .dataRight{
	float:right;
}
.alarmFooter li .dataRight .fa{
	margin:0 7px;
	cursor: pointer;
}

.layui-layer-dialog
.layui-layer-dialog .layui-layer-content{
	color:#ccc !important;
}
#dataMin,#dataMax{
	width:165px;
	height:38px;
	border:1px solid #cccccc;
	padding-left:14px;
	color:#ccc;
}
body .demo-class .layui-layer-btn{
	text-align:center;
}
body .demo-class .layui-layer-btn a{
	padding:5px 75px ;
	border-radius: 10px 10px ;
	 line-height:20px !important;
}
body .del-class .layui-layer-btn{
	text-align:center;
}
body .del-class .layui-layer-content{
	color:#FFB579;
	text-align:center;
}
 body .del-class .layui-layer-content .layui-layer-ico{
 	left:55px;
 }
#dtuList thead tr th:nth-child(1) {
    box-sizing: border-box;
    width:35%
}
#dtuList thead  tr th:nth-child(2){
    box-sizing: border-box;
    width:50%
}
.IContent{
	float:left;
	width:98%;
	padding-left:20px;
}
.configurAble,.unconfigurAble{
	width:100%;
	background:#fff;
	float:left;
	padding-bottom:20px;
}
.unconfigurAble{
	margin-top: 20px;
}
.configurAble .title,.unconfigurAble .title{
	height:45px;
	line-height:45px;
	padding-left:20px;
	font-size:16px;
	border-bottom:1px solid #1AB394;
	
}

.alarmContent p span{
	font-size:14px;
	cursor: pointer;
}
.alarmContent p{
	margin-bottom:5px;
}
/*弹窗*/
#searchData{
	width: 265px;
    height: 35px;
    padding-left: 20px;
    color: #1ab394;	
}
.confirmInfo i{
	color: #1AB394;
    line-height: 35px;
    font-size: 14px;
    cursor: pointer;
}
.confirmInfo ul{
	margin-top: 67px;
}
.confirmInfo ul li{
	height: 36px;
    line-height: 36px;
    color:#999;
    padding-left:20px;
    cursor: pointer;
    border-top: 1px solid #eee;
}
.confirmInfo ul li span{
	margin-right: 20px;
	 float:right;
	 line-height:33px;
}
.confirmInfo ul li:hover{
	background: #eee;
}
.confirmInfo .fix{
	width: 17%;
    position: fixed;
    background: #fff;
}
.confirmInfo .fix p{
	/*border-top: 1px solid #eee;*/

}
.confirmInfo p span{
	border-radius: 5px;
    color: #fff;
    margin-left: 20px;
   
    padding: 2px 10px;
    background: #009f95;
    cursor: pointer;
}
.confirmInfo{
	height: 294px;
	overflow: auto;
}
.confirmInfo::-webkit-scrollbar{
	width:3px;background-color:#ccc;
}
.confirmInfo::-webkit-scrollbar-thumb{
	background-color:#009f95;;
	-webkit-border-radius:4px;
}
 .layui-layer-title{
	background:#1ab394 !important;
	color:#fff !important;
}
.alarmRange {
	display: none;
	margin-top:20px !important;
	padding-left:20px !important;
}
.layui-layer-btn .layui-layer-btn0{
	background:#1ab394 !important;
	
}
.layui-layer-page .layui-layer-content{
	height:294px !important;
}
.alarmRange{
	height:166px !important;
}
.saveBtn{
	width:91%;
    height: 46px;
    text-align: center;
    padding-top:20px;
}
.alarmBtn{
	text-decoration: none;
	background:#1ab394;
	padding: 5px 75px;
	color:#fff;
    border-radius: 10px 10px;
    line-height: 20px !important;
}
.unconfigurAble .alarmContent p{
	margin-top:20px;
}
.unconfigurAble .alarmContent .dataTime{
	margin-top:20px;
}
.unconfigurAble .alarmContent .dataLable{
	margin-top:20px;
}

