body,
html{
	width: 100%;
	height: 100%;
}
body *{
	box-sizing: border-box;
}
html{
	background:#f3f3f4 !important;
}
.vue{
	width:100%;		
	height: 100%;
	background:#f3f3f4;
	float:left;
	position: relative;	
}
/*账户top区域*/
.vue>.title{
	
	height:65px;
	margin-right:20px;	
}
.vue>.title span{
	
	padding-top:25px;
	display: inline-block;
}
.vue>.title span:nth-child(1){	
	margin-left:20px;
	color:#5d5d5d;	
	font-size:22px;
}
.vue>.title span:nth-child(2){
	margin-left:5px;
	margin-right:5px;
	font-size:16px;
}
.vue>.title span:nth-child(3){
	color:#1ab394;
	font-size:16px;
		
}
/*账户按钮*/
.vue>.title .btn-primary{
	width:128px;
	height:35px;
	background:#1AB394;
	float:right;
	border-radius: 5px 5px;
	color:#fff;
	font-size:14px;
	cursor: pointer;
	border:0;
	margin-top:25px;
	margin-right:20px;
}
.vue>.title .btn-primary:hover{
	opacity:0.7;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
}
/*账户搜索*/
.vue>.title .search{
	border:1px solid #c1c1c1;
	background:#fff;
	float:right;
	border-radius: 5px 5px;
	width:360px;
	padding:0;
	height:36px;
	font-size:14px;
	margin-top:25px;
}
.vue>.title .search input:nth-child(1){
	color:#1AB394;
	width:321px;
	padding-left:12px;
	height:35px;
	border-radius: 5px 5px;
}
.vue>.title .search i:nth-child(2){
	color:#1AB394;
	line-height:35px;
	font-size:16px;
	cursor: pointer;
}
.vue>.title .search i:nth-child(2):hover{
	opacity:0.7;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
}
.vue hr{
	width:100%;
	height:4px;
	background:#e0e0e0;
	border:0;

	display: inline-block;
}
.list{
	
	background:#fff;
	margin-left:20px;
	margin-right:20px;
	padding-right:10px;
}
.list .table{
	width:100%;
	border:0;
}
.pagination-info{
	color:#8b91a0;
}
.pagination > .active > a{
	color:#ddd;
	
}
.pagination > .active > a:focus{
	background:#F4F4F4 !important;
}
/*分页样式*/
.boxFooter{
	width:100%;
	position: relative;
	bottom:5px;
	color:#A3A3A3;
	font-size:14px;
	margin-top:30px;
	height:40px;

}
.boxFooter .page{
	float:left;
	margin-left:22px;
	line-height:40px;
}
.boxFooter>nav .pre,.boxFooter>nav .after{
	width:70px;
	height:30px;
	padding:5px;
	border:1px solid #dddddd;
	border-radius: 5px 5px;
	float:right;
	line-height:16px;
	text-align:center;
	margin-top:10px;
}
.boxFooter>nav .pre{
	margin-right:60px;
}
.boxFooter>nav .pagination{
	float:right;
	margin-top:10px;
	
 }
.boxFooter>nav .pagination li{
	height:30px;
	width:30px;
}

.layui-layer-dialog .layui-layer-content{

	margin-left:40px !important;
}
.layui-layer-btn{
	text-align:center !important;
}
.layui-layer-btn1{
	margin-left:20px !important;
	border:1px solid #1ab394 !important;
	color:#1ab394 !important;
	background:#fff !important;
}
.layui-layer-dialog .layui-layer-content font{
		color:#FFAE5B !important;
}
.layui-layer{
	box-shadow: 8px 8px rgba(0,0,0,.5) !important;
}
.layui-layer-tips {
	box-shadow: none !important;
}
.table thead tr th:nth-child(1) {
    box-sizing: border-box;
    width:35%
}
.table thead  tr th:nth-child(2){
    box-sizing: border-box;
    width:50%
}
.table thead  tr th:nth-child(3){
    box-sizing: border-box;
    width:15%;
}
.table tbody  tr td:nth-child(3){
    box-sizing: border-box;
	text-align: left !important; 
}

.table tbody tr.borderColor {
	border-left:3px solid #1ab394 ;
	color: #1ab394;
}



.layui-layer-title{
	color:#fff;
	background:#1ab394;
}
.layui-layer-close{
	color:#fff;
}
.layui-layer-btn .layui-layer-btn0{
	background:#1ab394;
	color:#fff;
}
.layui-layer-btn1{
	color:#1cb392;
	background:#fff !important;
}
.layui-layer-btn{
	text-align: center;
	padding: 0 10px 19px;
}
.layui-layer-btn a{
	margin:0px 36px !important;
	padding:0 20px !important;
	border:1px solid #1cb392;	
}
#addentityName,#modifyentityName{
	border:1px solid #cccccc;
	padding:5px 10px;
	width:100%;
}
.layui-layer-dialog .layui-layer-content{
	margin-left:14px !important;
}
.layui-layer-tips {
	box-shadow: none !important;
}
.table tbody tr td:nth-child(2){
	text-align:left !important;
}

.table>thead>tr>th:nth-child(1){
	width: 25%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table>thead>tr>th:nth-child(2){
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table>thead>tr>th:nth-child(3){
	width: 15%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.table>thead>tr>th:nth-child(4){
	width: 15%;
}
.table>thead>tr>th:nth-child(5){
	width: 15%;
}

.table>tbody>tr{
	border-left: 3px solid #fff;
}

.table>tbody>tr:hover{
	color: #1ab394;
	border-left: 3px solid #1ab394;
}

.config{
	margin: -200px 0 0 -400px;
	width: 820px;
	height: 400px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	overflow: auto;
}
.config-mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.config-title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	color: #fff;
	background: #1AB394;
	font-size: 15px;
}
.config-title>.close{
    width: 40px;
    height: 100%;
    background: url(../img/login/login_layer_close.png) no-repeat 10px 10px;
    opacity: 1;
}
.config-title>.close:hover{
    background-color: #1bc5a3;
}

.config-content{
	width: 100%;
	padding: 0 20px;
}
.config-content>.target{
	padding: 20px 0;
	border-bottom: 2px solid #1AB394;
}
.config-content>.target>.entity,
.config-content>.target>.port{
	margin-right: 10px;
	width: 250px;
	height: 30px;
	line-height: 30px;
}
.config-content>.target>.entity>span,
.config-content>.target>.port>span{
	width: 60px;
	text-align: left;
}
.config-content>.target>.entity>input,
.config-content>.target>.port>select{
	width: 190px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-indent: 4px;
}
.config-content>.target>.status{
	width: 120px;
	height: 30px;
	line-height: 30px;
}
.config-content>.target>.status>span{
	width: 60px;
	text-align: left;
}
.config-content>.target>.status>select{
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-indent: 4px;
}

.list-define{
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
}
.list-define>li{
	line-height: 20px;
	text-indent: 4px;
}
.list-define>li:hover{
	background: cornflowerblue;
	color: #fff;
}
.add-condition{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #1AB394;
	border-radius: 5px;
	color: #fff;
}

.config-content>.prepose{
	padding: 20px 0 10px;
	margin-bottom: 0;
}
.config-content>.prepose>li{
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}
.config-content>.prepose>li>div{
	margin-right: 10px;
	height: 30px;
	line-height: 30px;
}
.config-content>.prepose>li>div>span{
	width: 60px;
	text-align: left;
}
.config-content>.prepose>li>.type,
.config-content>.prepose>li>.status{
	width: 120px;
}
.config-content>.prepose>li>.type>select,
.config-content>.prepose>li>.status>select{
	width: 60px;
	height: 30px;
	border: 1px solid #ccc;
	text-indent: 4px;
}
.config-content>.prepose>li>.entity,
.config-content>.prepose>li>.port{
	width: 210px;
}
.config-content>.prepose>li>.port-define,
.config-content>.prepose>li>.status-define{
	width: 275px;
}
.config-content>.prepose>li>.port-define>span,
.config-content>.prepose>li>.status-define>span{
	width: 75px;
}
.config-content>.prepose>li>.port-define>input,
.config-content>.prepose>li>.status-define>input{
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-indent: 4px;
}
.config-content>.prepose>li>.entity>input,
.config-content>.prepose>li>.port>select{
	width: 150px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-indent: 4px;
}

.remove-condition{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #f25e5e;
	border-radius: 5px;
	color: #fff;
}

.save-config{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 6px;
	text-indent: 6px;
	background: #1AB394;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
