html{
	background:#f3f3f4 !important;
	}
body{
	background:#f3f3f4 !important;
}

.desktopContent{
	width: 100%;
    background: #f3f3f4;
    float: left;
    position: relative;
    padding: 0 20px;
}
#chartContent{
	width:740px;
	height:240px;
	float:left;
	background: #FFF!important;
	margin-top: 20px;
	margin-right: 20px;
	border: 1px solid #ccc;
    border-radius: 4px;
}
.desktopContent .dataList{
	width: 360px;
    height: 240px;
    background: #fff;
    margin-right: 20px;
    float: left;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dataList .listTop{
	width: 100%;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.dataList .listTop>span:nth-child(1){
	margin-left: 10px;
    float: left;
    color: #999
}
.dataList .listTop>span:nth-child(2){
	margin-right: 10px;
    float: right;
    line-height: 40px;
    font-size: 20px;
    color: #1ab394;
    cursor: pointer;
}
.dataList  .listHr{
	padding: 0;
    margin: 0;
    height: 1px;
    background: #F3F3F4;
    margin-left: 10px;
    width: 340px;
}
.dataList .listContent{
	    width: 100%;
    height: 172px;
}
.dataList .contentTop .Itext{
	width: 100%;
    height: 100px;
    font-size: 30px;
    line-height: 136px;
    text-align: center;
    color: #1ab394;
}
.dataList .listContent .contentBottom{
	color: #afafaf;
    text-align: center;
    height: 30px;
}
.dataList .listTop span:nth-child(2){
	display: none;
}
.dataList:hover span:nth-child(2){
	display: inline-block;
}
/*告警颜色设置*/
.desktopContent .greenBg .listTop span:nth-child(1){
	color:#999;
}
.desktopContent .greenBg .contentTop .Itext{
	color:#1ab394;
}

.desktopContent .grayBg .listTop span:nth-child(1){
	color:#9a9a9a;
}
.desktopContent .grayBg .contentTop .Itext{
	color:#9a9a9a;
}

.desktopContent .redBg .listTop span:nth-child(1){
	color:#d51b1c;
}
.desktopContent .redBg .contentTop .Itext{
	color:#d51b1c;
}