.layui-layer-title{
	color:#fff;
	background:#1ab394;
}
.layui-layer-close{
	color:#fff;
}
.layui-layer-btn .layui-layer-btn0{
	background:#1ab394;
	color:#fff;
}
.layui-layer-btn1{
	color:#1cb392;
	background:#fff !important;
}
.layui-layer-btn{
	text-align: center;
	padding: 0 10px 19px;
}
.layui-layer-btn a{
	margin:0px 36px !important;
	padding:0 20px !important;
	border:1px solid #1cb392;	
}
#addentityName,#modifyentityName{
	border:1px solid #cccccc;
	padding:5px 10px;
	width:100%;
}
.layui-layer-dialog .layui-layer-content{
	margin-left:14px !important;
	}
.fixed-table-body  #dtuList thead tr th:nth-child(1){
	width: 85% !important;
}
.fixed-table-body #dtuList thead  tr th:nth-child(2){
	width:15% !important;
}
.layui-layer-tips {
	box-shadow: none !important;
	/*left:882px !important;*/
}
#dtuList tbody tr td:nth-child(2){
	text-align:left !important;
}
.table>tbody>tr.borderColor {
	border-left:3px solid #1ab394 ;
	color: #1ab394;
}