html,
body{
	height: 100%;
	overflow: hidden;
	position: relative;
	box-sizing: content-box!important;
}
body{
	min-width: 1106px;
	padding: 20px;
	background: #f3f3f4;
}
body *{
	font-size: 14px;
}

#vue{
	height: calc(100% - 40px);
}

.mainTitle{
	width: 100%;
	margin-bottom: 6px;
	height: 46px;
	position: relative;
	transition: 0.5s;
	transform-style: preserve-3d;
}
.mainTitle.active{
	transform: rotateX(180deg);
}
.mainTitle>.frontSide{
	width: 100%;
	height: 46px;
	background: #1AB394;
	text-align: center;
	line-height: 46px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateZ(0.1px);
}
.mainTitle>.frontSide>button{
	width: 100px;
	height: 46px;
	background: #1ab394;
	text-align: center;
	line-height: 46px;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.5s;
}
.mainTitle>.frontSide>button:hover{
	background: #24c5a4;
}
.mainTitle>.backSide{
	width: 100%;
	height: 46px;
	background: #fff;
	line-height: 46px;
	display: flex;
	display: -webkit-box;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateZ(-0.1px) rotateX(-180deg);
}
.mainTitle>.backSide>li{
	border-right: 1px solid #e0e0e0;
	flex-grow: 1;
	-webkit-box-flex: 1;
	line-height: 46px;
	background: #fff;
	color: #1ab394;
	transition: 0.5s;
	text-align: center;
	cursor: pointer;
}
.mainTitle>.backSide>li.active{
	background: #1ab394;
	color: #fff;
}
.mainTitle>.backSide>li:hover{
	background: #1ab394;
	color: #fff;
}
.mainTitle>.backSide>li:nth-last-of-type(1){
	border-right: none;
}
/*.title>div{
	line-height: 34px;
}
.title span:nth-of-type(1){
	font-size: 19px;
}
.title span:nth-last-of-type(1){
	color: #1ab394;
}*/

.main{
	width: 100%;
	height: calc(100% - 46px);
	overflow: hidden;
	border: 1px solid #ccc;
	position: relative;
}
.main>ul{
	width: 100%;
	height: 54px;
	padding-top: 11px;
	background: rgba(255, 255, 255, 0.63);
	border-bottom: 1px solid rgba(204, 204, 204, 0.63);
	position: absolute;
	left: 0;
	z-index: 1;
}
.main>.headBar{
	top: 0;
}
.main>.footBar{
	bottom: -55px;
	/*bottom: 0;*/
	transition: 0.5s;
	/*display: none;*/
}
.main>ul>li{
	margin: 0 5px;
	position: relative;
	opacity: 0.63;
	transition: 0.5s;
}

.main>ul>li:hover{
	opacity: 1;
}
.main>ul>li:hover button{
	background: #1AB394;
	color: #fff;
}
.main>ul>li:hover span{
	color: #fff;
}
.main>ul>.name:hover span{
	color: #1AB394;
}
.main>ul>.description:hover span{
	color: #1AB394;
}

.main>.headBar>li>input{
	width: 200px;
	height: 30px;
	line-height: 28px;
	border-radius: 15px;
	border: 1px solid #ccc;
	text-align: left;
	background: rgba(255, 255, 255, 0.63);
	text-indent: 30px;
}
.main>ul>li>button{
	width: 100px;
	height: 30px;
	line-height: 28px;
	border-radius: 15px;
	border: 1px solid #1ab394;
	background: rgba(255, 255, 255, 0.63);
	color: #1ab394;
	text-align: left;
	text-indent: 30px;
	cursor: pointer;
	transition: 0.5s;
}
.main>.footBar>li>button{
	text-indent: 40px;
}
.main>ul>li>span{
	position: absolute;
	top: 8px;
	left: 12px;
	color: #1ab394;
	transition: 0.5s;
}
.main>.headBar>.link>p{
	width: 200px;
	height: 30px;
	padding-right: 12px;
	background: #fff;
	border-radius: 15px 0 0 15px;
	line-height: 28px;
	text-indent: 12px;
	border: 1px solid #ccc;
	border-right: none;
	color: #ccc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.main>.headBar>.link>button{
	border-radius: 0 15px 15px 0;
}
.main>.headBar>.link>span{
	border-radius: 0 15px 15px 0;
	left: 210px;
}

#canv{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.selector{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	opacity: 0;
}

.selector-body{
	width: 300px;
	height: 430px;
	background: #fff;
	-webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.38);
	box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.38);
	position: absolute;
	left: 0;
	top: 0;
}

.selector-title{
	height: 40px;
	background: #1ab394;
}
.selector-title>p{
	line-height: 40px;
	text-indent: 22px;
	color: #fff;
}
.selector-close{
	width: 40px;
	height: 100%;
	background: url(../img/login/login_layer_close.png) no-repeat 10px 10px;
	transition: 0.5s;
}
.selector-close:hover{
	background-color: #24c5a4;
}
.selector-main{
	height: 390px;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}
.selector-search{
	height: 44px;
	padding-top: 4px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
}
.selector-search>input{
	width: 258px;
	line-height: 40px;
	text-indent: 12px;
	color: #1ab394;
}
.selector-search>span{
	line-height: 40px;
	color: #1ab394;
}
.selector-list{
	position: relative;
	left: 0;
	top: 0;
}
.selector-list>li{
	border-bottom: 1px solid #f0f0f0;
	line-height: 42px;
	text-indent: 12px;
	color: #b0b0b0;
	transition: 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.selector-list>li:hover{
	color: #1ab394;
	background: #f0f0f0;
}
.selector-scroll{
	width: 2px;
	height: 382px;
	background: #e2e2e2;
	position: absolute;
	top: 4px;
	right: 6px;
}
.selector-scroll>.scrollBar{
	width: 4px;
	height: 382px;
	background: #1ab394;
	position: absolute;
	border-radius: 2px;
	top: 0;
	left: -1px;
	cursor: move;
}

.operation{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.operation>.AI,
.operation>.DI,
.operation>.AO,
.operation>.DO,
.operation>.MO{
	display: none;
	position: absolute;
	opacity: 0;
	background: #fff;
	-webkit-box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.38);
	box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.38);
}
.operation .title{
	margin: 0;
	height: 40px;
	border: none;
	line-height: 40px;
	color: #fff;
	background: #1ab394;
}
.operation .title>p{
	margin: 0;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #1ab394;
	text-indent: 14px;
}
.operation .close{
	width: 40px;
	height: 100%;
	background: url(../img/login/login_layer_close.png) no-repeat 10px 10px;
	transition: 0.5s;
}
.operation .close:hover{
	background-color: #24c5a4;
}

.operation>.AI,
.operation>.DI{
	width: 880px;
	height: 440px;
}

.operation>.AI .info,
.operation>.DI .info{
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
}

.operation>.AI .name,
.operation>.DI .name{
	height: 39px;
	font-size: 16px;
	line-height: 39px;
	text-indent: 14px;
	color: #979797;
}

.operation>.AI .date,
.operation>.DI .date{
	width: 326px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-left: 1px solid #e6e6e6;
	color: #8B91A0;
	cursor: pointer;
}

.operation>.AI .chart,
.operation>.DI .chart{
	width: 100%;
	height: 360px;
	background: #ccc;
}

.operation>.AO,
.operation>.DO,
.operation>.MO{
	width: 340px;
	height: 240px;
}

.operation>.AO>.content,
.operation>.DO>.content,
.operation>.MO>.content{
	padding: 10px;
}

.operation>.MO>.content>ul{
	margin: 38px auto 58px;
	width: 220px;
}
.operation>.MO>.content>ul>li{
	margin-bottom: 4px;
	line-height: 30px;
}
.operation>.MO .oldVal{
	background: #eee;
	color: red;
}
.operation>.MO input{
	border: 1px solid #ccc;
	text-indent: 4px;
}
.operation>.MO input:focus{
	border-color: #1ab394;
}

.operation .finfosoft-ring{
	margin: 0 auto;
	width: 160px;
}

.operation .finfosoft-onOff{
	margin: 58px auto 70px;
	width: 160px;
	height: 24px;
}

.operation .time{
	width: 100%;
	text-align: center;
	color: #aeaeae;
}

.operation .confirm{
	margin-left: -30px;
	width: 60px;
	height: 20px;
	background: #1ab394;
	border-radius: 10px;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 186px;
	transition: 0.5s;
}
.operation .confirm:hover{
	background-color: #24c5a4;
}

.daterangepicker select{
	height: inherit;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.daterangepicker select.monthselect{
	padding-left: 28px;
}
.daterangepicker select.yearselect{
	padding-left: 14px;
}

.daterangepicker td.active{
	background: #1ab394;
	border-radius: 4px 4px;
}
.daterangepicker td.active:hover{
	background: #24c5a4;
}

.daterangepicker .input-mini.active {
    border: 1px solid #1ab394;
    border-radius: 4px;
}
.daterangepicker .form-control{
	display: inline-block;
}
.daterangepicker .form-control:focus {
  border-color: #1ab394;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(26, 179, 148, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(26, 179, 148, 0.6);
}

.daterangepicker .btn-success{
	background: #1ab394;
}
.daterangepicker .btn-success:hover{
	background: #24c5a4;
}

