body {
	width: 100%;
}

@media screen and (max-width: 1366px) {
	body {
		width: 1366px;
		overflow: auto;
	}
}

#wrapper {
	background: #fff;
	
}

#wrapper .fixedTop {
	background: #31333d;
}
#wrapper .sidebar-collapse ul li {
	border-bottom: 2px solid #293745;
}

#wrapper .sidebar-collapse ul li:nth-of-type(1) a .onOff {
	text-align: right;
	color: #1ab394;
	font-size: 18px;
}
.showHide {
	display: none;
}
#wrapper .sidebar-collapse ul li:nth-of-type(1) a.spicalShow{
	text-align: right;
}
#wrapper .companyName {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#wrapper .companyName p {
	color: #fff;
	font-size: 13px;
}

#wrapper #page-wrapper {
	padding: 0;
	position: relative;
}
body.fixed-sidebar .navbar-static-side{
	position: absolute;
    width: 220px;
    z-index: 2001;
    height: 100%;
    display: block;
}
#wrapper .indexHeader {
	width: 100%;
	/*width:calc(100% - 220px); */
	height: 50px;
	background: #31333d;
	position:absolute;
	top: 0;
	z-index: 100;
}

#wrapper  .indexHeader .homeName {
	float: left;
}
#wrapper  .indexHeader .msgList{
	float: right;
	width: calc(100%-231px);
}
#wrapper  .indexHeader ul {
	
	width: 100%;
}

#wrapper  .indexHeader ul li {
	float: left;
	font-size: 14px;
	color: #fff;
}

#wrapper  .indexHeader ul li dt {
	padding: 0 20px;
	font-weight: 100;
	border-left: 2px solid #45464f;
	line-height: 50px;
	cursor: pointer;
}

#wrapper  .indexHeader ul li dt .indexDownload i {
	display: inline-block;
	width: 31px;
	height: 31px;
	margin-left: 14px;
	background: url("../img/home_page/qr_code.jpg") no-repeat center;
	vertical-align: middle;
}

#wrapper  .indexHeader ul li .qrCode {
	width: 264px;
	display: none;
}

#wrapper  .indexHeader ul li .qrCode img {
	width: 180px;
	margin: 20px auto;
}

#wrapper  .indexHeader ul li .headPortrait {
	display: inline-block;
	width: 45px;
	height: 44px;
	background: url("../img/home_page/head_portrait.jpg") no-repeat center;
	vertical-align: middle;
}

#wrapper  .indexHeader ul li .personMsg {
	display: none;
	
}

#wrapper  .indexHeader ul li .personMsg a {
	display: block;
	color: #fff;
	font-size: 14px;
	background: #31333d;
	margin-left: 2px;
	padding-left: 20px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #1a1a1a;
}

#wrapper .indexHeader ul li .personMsg a:hover {
	background: #293745;
}

#wrapper .indexHeader ul li dt {
	position: relative;
}

#wrapper .indexHeader ul li dt strong {
	display: inline-block;
	width: 18px;
	height: 13px;
	background: url("../img/home_page/envelope.jpg") no-repeat center;
	vertical-align: middle;
}

#wrapper .indexHeader ul li dt .msgNum {
	color: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #bb0000;
	position: absolute;
	font-size: 12px;
	top: 10px;
	right: 10px;
	line-height: 16px;
	text-align: center;
}

#wrapper .bgColor {
	background: #f3f3f4;
}

#wrapper #content-main {
	height:calc(100% - 50px);
}
#wrapper .indexMain{
	position: relative;
	top: 50px;
}
.msgPrompt {
	display: none;
}

.tooltip-inner {
	background: #1ab394;
	white-space:nowrap;
}
.tooltip.right .tooltip-arrow{
	border-right-color:#1ab394;
}
.nav-second-box{
	height:100%;
	display: none;
	overflow: hidden;
}
/*span.rotateDeg{
	transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    -ms-transition: All 0.4s ease-in-out;
}*/
 
.pop-mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3000;
}
.pop{
	width: 500px;
	height:410px ;
	position: absolute;
	left:50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -205px;
	background: #fff;
	z-index: 3010;
}
.pop-title{
	height: 40px;
	line-height: 40px;
	background: #1ab394;
}
.pop-title>p{
	margin-left: 23px;
	font-size: 15px;
	color: #fff;
}
.pop-close{
	width: 40px;
	height: 100%;
	background: url(../img/login/login_layer_close.png) no-repeat 10px 10px;
}
.pop-close:hover{
	background-color: #24c5a4;
}
.pop-main{
	width: 450px;
	margin:30px auto 20px;
}
.pop-main span{
	width: 100px;
	display: inline-block;
	font-size: 14px;
	text-align: right;
	margin-right: 20px;
}
.pop-main label{
	font-size: 15px;
	color:#D43F3A;
	margin-left: 120px;
	margin-top: -15px;
    display: block;
}
.step2 .pop-main p{
	margin-bottom: 14px;
}

.pop-username{
	margin-bottom: 30px;
	width: 260px;
	height: 38px;
	border: 1px solid #ccc;
	color: #1ab394;
	font-size: 15px;
	padding-left: 10px;
}
.pop-submit{
	display: block;
	margin:35px auto 0;
	width: 254px;
	height: 44px;
	background: #1ab394;
	font-size: 15px;
	line-height: 44px;
	color: #fff;
	letter-spacing: 14px;
	text-indent: 14px;
	text-align: center;
	border-radius: 22px;
}
.pop-cancel{
	background: #111;
}

