body,html {
	width: 100%;
	height:100%
}

@media screen and (max-width: 1366px) {
	body {
		width: 100%;
		overflow: auto;
	}
}

#wrapper {
	background: #fff;
	
}

#wrapper .fixedTop {
	background: #31333d;
}
#wrapper .sidebar-collapse ul li {
	border-bottom: 1px solid #242631;
	border-bottom: 1px solid #45464f;
	
}
#wrapper .sidebar-collapse  p{
	width: 220px;
	height: 50px;
	background: #1ab394;
}
#wrapper .sidebar-collapse  p img:nth-of-type(1){
	width: 100%;
}
#wrapper .sidebar-collapse ul li a{
	color: #fff;
}
#wrapper .sidebar-collapse ul li .nav-second-box a{
	color: #b1b1b1;
}
#wrapper .sidebar-collapse ul li a:hover{
	background: #2c2e37;
}
.navbar-default .nav>li.active{
	background: #2c2e37;
} 
#wrapper .sidebar-collapse ul li:nth-of-type(1) a .onOff {
	text-align: right;
	color: #1ab394;
	font-size: 18px;
}
.showHide {
	display: none;
}
#wrapper .sidebar-collapse ul li:nth-of-type(1) a.spicalShow{
	text-align: right;
}
#wrapper .companyName {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#wrapper .companyName p {
	color: #fff;
	font-size: 13px;
}
.nav .activeFocus{
	border-left: 4px solid #19aa8d;;
	background: #2c2e37;
}
#wrapper #page-wrapper {
	padding: 0;
	position: relative;
}
body.fixed-sidebar .navbar-static-side{
	position: absolute;
    width: 220px;
    z-index: 2001;
    height: 100%;
    display: block;
}
#wrapper .indexHeader {
	width: 100%;
	/*width:calc(100% - 220px); */
	height: 50px;
	background: #31333d;
	position:absolute;
	top: 0;
	z-index: 100;
}
.mini-navbar #wrapper .sidebar-collapse p {
	width:70px;
}
#wrapper  .indexHeader .homeName {
	float: left;
	margin-left: 20px;
}
#wrapper  .indexHeader .msgList{
	float: right;
}
#wrapper  .indexHeader ul {
	width: 100%;
}

#wrapper  .indexHeader ul li {
	float: left;
	font-size: 14px;
	color: #fff;
}

#wrapper  .indexHeader ul li dt {
	padding: 0 20px;
	font-weight: 100;
	border-left: 2px solid #45464f;
	line-height: 50px;
	cursor: pointer;
}

#wrapper  .indexHeader ul li dt .indexDownload i {
	display: inline-block;
	width: 29px;
	height: 29px;
	margin-left: 14px;
	background: url("../img/qr_code_thumbnail.png") no-repeat center;
	vertical-align: middle;
}
.qrCode_dl{
	position: relative;
}
.qrCode_dl:hover .qrCode{
	display: block;
}
.qrCode {
	width: 400px;
	display: none;
	padding-top: 10px;
	position:absolute;
}
.qrCode>.row>.col-xs-6{
	padding-right: 0; 
}
.qrCode .panel-success{
	border-color: #2FA4BF;
}
.qrCode .panel-success .panel-heading{
	background-color: #2FA4BF;
    border-color: #2FA4BF;
    color: #ffffff;
}
.qrCode .panel-info{
	border-color: #1AB394;
}
.qrCode .panel-info .panel-heading{
	background-color: #1AB394;
    border-color: #1AB394;
    color: #ffffff;
}
.qrCode .fa{
	margin-right: 5px;
	font-size: 16px;
}
/*#wrapper  .indexHeader ul li .qrCode img {
	width: 140px;
	border:10px solid #C7C7C7;
	margin: 20px auto;
}*/

#wrapper  .indexHeader ul li .headPortrait {
	display: inline-block;
	width: 45px;
	height: 44px;
	background: url("../img/home_page/head_portrait.jpg") no-repeat center;
	vertical-align: middle;
}

#wrapper  .indexHeader ul li .personMsg {
	display: none;
	
}

#wrapper  .indexHeader ul li .personMsg a {
	display: block;
	color: #fff;
	font-size: 14px;
	background: #31333d;
	margin-left: 2px;
	padding-left: 20px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #1a1a1a;
}

#wrapper .indexHeader ul li .personMsg a:hover {
	background: #293745;
}

#wrapper .indexHeader ul li dt {
	position: relative;
}
#wrapper .indexHeader ul li a{
	padding: 0 20px;
    font-weight: 100;
    border-left: 2px solid #45464f;
    line-height: 50px;
    cursor: pointer;
}
#wrapper .indexHeader ul li a strong {
	display: inline-block;
	width: 18px;
	height: 13px;
	background: url("../img/home_page/envelope.jpg") no-repeat center;
	vertical-align: middle;
}

#wrapper .indexHeader ul li a .msgNum {
	color: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #bb0000;
	position: absolute;
	font-size: 12px;
	top: 10px;
	right: 10px;
	line-height: 16px;
	text-align: center;
}
#wrapper .bgColor {
	background: #f3f3f4;
}

#wrapper #content-main {
	height:calc(100% - 50px);
}
#wrapper .indexMain{
	position: relative;
	top: 50px;
}
.msgPrompt {
	display: none;
}

.tooltip-inner {
	background: #1ab394;
	white-space:nowrap;
}
.tooltip.right .tooltip-arrow{
	border-right-color:#1ab394;
}
.nav-second-box{
	height:100%;
	display: none;
	overflow: hidden;
}
.pop-mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3000;
}
.pop{
	width: 500px;
	height:410px ;
	position: absolute;
	left:50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -205px;
	background: #fff;
	z-index: 3010;
	box-shadow:7px 7px  7px rgba(0,0,0,0.4);
	-webkit-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-o-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
}
.pop-title{
	height: 40px;
	line-height: 40px;
	background: #1ab394;
}
.pop-title>p{
	margin-left: 23px;
	font-size: 15px;
	color: #fff;
}
.pop-close{
	width: 40px;
	height: 100%;
	background: url(../img/login/login_layer_close.png) no-repeat 10px 10px;
}
.pop-close:hover{
	background-color: #24c5a4;
}
.pop-main{
	width: 450px;
	margin:40px auto 20px;
}

.pop-main label{
	width: 100px;
	display: inline-block;
	font-size: 14px;
	text-align: right;
	margin-right: 20px;
	color: #7e7e7e;
}


.pop-username{
	margin-bottom: 40px;
	width: 260px;
	height: 38px;
	border: 1px solid #ccc;
	color: #1ab394;
	font-size: 15px;
	padding-left: 10px;
}
.pop-submit{
	display: block;
	margin:0 auto ;
	width: 254px;
	height: 44px;
	background: #1ab394;
	font-size: 15px;
	line-height: 44px;
	color: #fff;
	letter-spacing: 14px;
	text-indent: 14px;
	text-align: center;
	border-radius: 22px;
}
.pop-cancel{
	background: #111;
}
.pop-shadow{
	width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.38;
    position: absolute;
    right: -7px;
    bottom: -7px;
    z-index: -1;
}
.pop-main div{
	position: relative;
}
.pop-main span {
	position: absolute;
	padding: 3px 6px;
	background: #ff787b;
	top: -38%;
	color: #fff;
	border-radius: 3px;
	right:12%;
	float: left;
	display: none;
}
.pop-main span:before{
	content: "";
	position: absolute;
	top:100%;
	border: 6px solid transparent;
	left:10%;
	border-top-color:#ff787b;
}
/*修改密码*/
.popMsg{
	width: 330px;
	height: 216px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -155px;
	margin-top:-108px ;
	box-shadow:7px 7px  7px rgba(0,0,0,0.4);
	-webkit-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-moz-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-ms-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	-o-box-shadow:7px 7px 0 rgba(0,0,0,0.4);
	z-index: 3050px;
	display: none;
}
.popMsg_content{
	padding-top: 40px;
	padding-left: 50px;
}
.errorMsg{
	height: 42px;
	line-height: 42px;
}
.errorMsg i{
	display: inline-block;
	width: 32px;
	height: 33px;
	background: url(../img/icon_btn.png) 0 0;
	float: left;
}
.errorMsg i.error{
	display: inline-block;
	width: 32px;
	height: 33px;
	background: url(../img/icon_btn.png) -32px 0;
	float: left;
}
.errorMsg span{
	display: inline-block;
	color:#f55659;
	font: 14px/42px "微软雅黑" ;
	padding-left: 15px;
	float: left;
	margin-top: -3px;
}
.popMsg_content button{
	font-size: 16px;
	color: #fff;
	letter-spacing: 25px;
	background:#1ab394;
	border-radius: 3px;
	padding: 10px 0 10px 25px;
	margin-left: 25%;
	margin-top: 25px;
}
