html{
	background:#f3f3f4 !important;
	height: 100% !important;
}
body{
	background:#f3f3f4 !important;
	height: 100% !important;
	font-family: microsoft yahei !important;
}
input{
	cursor: auto !important; 
}
.layui-layer-page .layui-layer-content {
	overflow-x: hidden !important; 
}
.layui-layer-title{
	background-color: #1AB394 !important;
	color: #ffffff !important;
}
#task >.taskTop{
	width:100%;
	height:55px;
}
#task >.taskTop> span{
	font-size:16px;
	padding-top:15px;
	display: inline-block;
}
#task >.taskTop> span:nth-child(1){	
	font-size:22px;
	margin-left:20px;
	color:#5d5d5d;	
}
#task >.taskTop> span:nth-child(2){
	margin-left:5px;
	margin-right:5px;
}
#task >.taskTop> span:nth-child(3){
	color:#1ab394;	
}
#task > .taskTop > .addTask{
	width: 155px;
	height: 35px;
	margin: 20px 40px 0 0;
	float: right;
	border: none;
	background: #1AB394;
	color: #ffffff;
}
#task > .taskTop > .addTask:hover{
	opacity: 0.7;
}
#task > hr{
	margin:0 20px;
	width:calc(100% - 40px);
	height:4px;
	background:#e0e0e0;
	border:0;
	display: inline-block;
}
#task >.taskContent{
	width: 100%;
	height: calc(100% - 55px);
}
#task >.taskContent > .processBox{
	width:calc(100% - 40px);
	height: 55px;
	margin: 20px 20px;
	background: #1AB394;
	color: #ffffff;
	overflow: hidden;
}
#task >.taskContent > .processBox>div{
	overflow: hidden;
}
/*#task >.taskContent > .processBox:first-child{
	height: auto !important;
}*/
#task >.taskContent > .processBox .processName,
#task >.taskContent > .processBox .processTimes,
#task >.taskContent > .processBox .processtTigger,
#task >.taskContent > .processBox .processTools{
	height: 55px;
	float: left;
	color: #ffffff;
	font-size: 16px;
	text-align: left;
	padding-left: 20px;
	padding-top: 15px;
}
#task >.taskContent > .processBox .processName{
	width: 15%;
	font-weight: 700;
}
#task >.taskContent > .processBox .processtTigger,
.missionBox .missionAction{
	width: calc(85% - 320px);
}
#task >.taskContent > .processBox .processtTigger>dl{
	overflow: hidden;
    height: 55px;
    background: #1AB394;
    position: relative;
    padding-left: 20px;
    position: absolute;
}
.noPadding{
	padding:0 !important;
}
.shrinkConditions{
	float: left;
	padding: 15px 15px 5px 0;
}
.showDlPlane{
	height: auto !important;
    background: #2e957d !important;
    border: #167965 1px solid !important;
}
#task >.taskContent > .processBox .processtTigger>dl>dd{
	height: 55px;
	margin-right: 20px;
	border-bottom: #167965 1px solid;
}
#task >.taskContent > .processBox .processtTigger>dl >dd:last-child{
	border-bottom: none;
}
#task >.taskContent > .processBox .processtTigger> dl > dd >span{
	cursor: pointer;
    height: 55px;
    padding: 15px 0;
    line-height: 50px;
}
#task >.taskContent > .processBox .processtTigger>dl>dd :nth-last-child{
	border-bottom: none;
}
#task >.taskContent > .processBox .processTimes,
.missionBox .waitingTime{
	width: 170px;
}
#task >.taskContent > .processBox .processTools,
.missionBox .missionTools{
	width: 150px;
}
#task >.taskContent > .processBox .processTools>span{
	margin: 5px;
	cursor: pointer;
}
#task >.taskContent > .processBox .processTools>span:nth-child(4){
	transform:rotate(90deg)
}
.dataCircle{
	width: 50%;
	min-height: 65px;
	float: left;
	padding-top: 25px;
	/*position: relative;*/
}
.dataCircle>label{
	float: left;
	color: #9f9f9f;
	width: 90px;
	height: 35px;
	text-align: right;
	line-height: 35px;
	font-size: 14px;
	padding: 0 10px 0 8px ;
	font-weight: 500;
}
.dataCircle > input,
.dataCircle > select,
.dataCircle > .el-input-number,
.dataCircle > .el-date-editor{
	display: block;
	float: left;
    width: 70%;
    height: 40px;
    line-height: 32px;
    font-size: 14px;
    color: #a7a7a7;
    text-align: left;
}
.dataCircle > input,
.dataCircle > select{
	 border: 1px solid #e5e6e7;
}
.dataCircle>.el-input-group--append{
	max-width: calc(100% - 102px) ;
}
.dataRow{
	width: 100%;
	float: left;
	padding-top: 25px;
	position: relative;
}
.dataRow>label{
	float: left;
	color: #9f9f9f;
	width: 90px;
	height: 35px;
	text-align: right;
	line-height: 35px;
	font-size: 14px;
	padding: 0 10px 0 8px ;
	font-weight: 500;
}
.dataRow > input,
.dataRow > select{
	display: block;
	float: left;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    width: calc(100% - 100px);
    height: 34px;
    line-height: 32px;
    font-size: 14px;
    color: #a7a7a7;
    text-align: left;
}
.controlBtn{
	height: 33px;
    padding: 6px 0;
	color: #1ab394;
	border: 1px solid #1ab394;
	border-radius: 3px;
	text-align: center;
}
.controlBtn span{
	height: 33px;
	padding: 6px 15px;
	display: inline-block;
	height: 100%;
	cursor: pointer;
}

.controlBtn span:nth-child(2){
	margin-left: -5px;
}
.white{
	background-color: #fff;
	border: 1px solid #1ab394;
	color: #1ab394;
}
.greenBtn{
	background-color: #1ab394;
	color: #fff;
}
.layui-layer-content{
	max-height: 590px;
}
.addProcess hr,
.addMission hr{
	margin:0 20px;
	width:calc(100% - 40px);
	height:1px;
	background:#e0e0e0;
	border:0;
	display: inline-block;
}
.addProcess >.triggerText{
	position: absolute;
    z-index: 9;
    margin-top: -20px;
    left: 33px;
    padding: 5px;
    font-size: 12px;
    color:#1AB394;
    background: #ffffff;
}
.addProcess > .addConditionBtn{
	position: absolute;
    z-index: 9;
    margin-top: -20px;
    right: 24px;
    font-size: 12px;
    padding: 2px 10px;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #1AB394;
    color: #1AB394;
    border-radius: 4px;
    outline: none;
}
.addProcess > .addConditionBtn:hover{
	color: #1AB394;
	filter:alpha(opacity=60); /*IE滤镜，透明度50%*/
	-moz-opacity:0.6; /*Firefox私有，透明度50%*/
	opacity:0.6;/*其他，透明度50%*/
}
.addProcess .saveProcessBtn,
.addMission .saveMissionBtn{
	width: 320px;
	margin: auto;
	margin-bottom: 20px;
    border: 1px solid #1AB394;
    color: #ffffff;
    background: rgb(26, 179, 148);
    outline: none;
}
.closeBox{
    position: absolute;
    z-index: 9;
    margin-top: -22px;
    right: 30px;
    padding: 5px;
    background: #ffffff;
    cursor: pointer;
}
.analogUl{
	width: 238px;
	position: absolute;
	z-index: 9;
}
.timeBox > div{
	width: 33% !important;
	float: left !important;
	/*height: 34px;*/
}
.timeBox > div input{
	border-radius: 0;
}
.timeBox > span{
	float: left;
	line-height: 35px;
    padding: 0 6px;
}
.el-picker-panel{
	z-index: 99999999 !important;
}
.control-group{
	width: calc(100% - 104px);
    float: left;
}
.control-group-input{
	width: calc(100% - 30px);
    height: 34px;
    display: block;
    float: left;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    line-height: 32px;
    font-size: 14px;
    color: #a7a7a7;
    text-align: left;
}
.control-group-addon{
	width:30px;
	height: 34px;
	float: right;
	padding: 3px 8px;
	background: #f1f1f1;
	border: #A9A9A9 1px solid;
	border-left: hidden;
}
.saveRuleBtn:hover,.saveProcessBtn:hover{
	color: #ffffff;
   	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8;/*其他，透明度50%*/
}
.missionBox{
	width: 100%;
	/*height: auto;*/
	padding: 0;
    overflow: hidden;
    background: #ffffff;
    color: #000000;
    
}
.missionBox > .mission{
	width: calc(100% -40px);
	overflow: hidden;
	border-bottom: #EDEDED 1px solid;
	
}
.missionBox > .mission.active{
	background: #ffffff;
	z-index: 99999;
}
.missionBox > .mission:last-child{
	border-bottom: none;
}
.missionBox .missionName,
.missionBox .missionAction,
.missionBox .waitingTime,
.missionBox .missionTools{
	height: 55px;
    float: left;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
}
.missionBox .missionName{
    width: 15%;
    font-weight: 700;
}
.missionBox .missionTools{
	color: #1AB394 !important;
}
.missionBox .missionTools >span{
	margin: 5px;
	cursor: pointer;
	padding: 6px 9px 10px 0;
}